@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Mono:wght@300&display=swap');
 
* {
  margin: 0;
  box-sizing: border-box;
 }

html{
  background: #fff;
}

body{
  font-family: 'open sans', sans-serif;
}

footer{
  background: #a19999;
  border-radius: 0.5em;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}

nav{
  background: #a19999;
  border-radius: 0.5em;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav li{
 padding: 0 0 0 15px;
 margin: 1rem;
}

.menu{
  display: inline-flex;
  font-size: 1.5rem;
  list-style-type: none;
} 

.social-media{
  display: inline-flex;
  align-items: center; 
  list-style-type: none;
}

.Title-logo{
  text-align: center;
  font-size: 18px; 
  font-family: 'robotomono', monospace;
}

#container-project{
  background-color: rgb(182, 182, 182);
  border-radius: 10px;
  margin: 1.5rem;
  padding: 15px;
  display: block;
}


