@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Mono:wght@300&display=swap');

*{
  margin: 0;
  text-decoration: none;
}

:root {
  --cor-principal: rgb(82, 7, 115);
  --cor-secundaria: rgb(242, 86, 29); 
  --cor-terciaria: rgb(242, 239, 189); 
  --cor-background: rgb(23, 29,36);
  --text-principal: 'open sans',sans-serif;
  --text-corpo:'robotoMono', monospace;
}

html{
  background-color: var(--cor-background);
}
body{
  font-family: var(--text-principal);
}
footer{
  padding: 10px 0;
  text-align: center;
  color: var(--cor-terciaria);
} 

nav{
    display: flex;
  justify-content: space-between;
  border-radius: 15px;
  margin: 1rem;
}

nav li{
 padding: 0 0 0 20px;
}

.menu{
  font-family: var(--text-principal);
  display: inline-flex;
  font-size: 1.5rem;
  list-style-type: none;
  align-items: center;
  margin: 10px;
} 
.logo{
  font-size: 3rem;
  align-items: center;
 }

.destaque{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background:linear-gradient(rgb(38, 40, 145), rgb(145, 38, 131), rgb(187, 107, 54));
  border-radius: 1rem;
  margin: 0rem 1rem;
}

.destaque-text{
  padding: 0;
  font-size: 2.5rem;
  font-family: var(--text-corpo);
  color: #fff;
}
#container-project{
  border-radius: 10px;
  margin: 30px 100px 30px 100px;
  padding: 15px;
  display: block;
}
