@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;600;800&family=Rajdhani:wght@300;500;700&display=swap'); 

*{
  margin:0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --cor-principal: rgb(82, 7, 115);
  --cor-secundaria: rgb(242, 86, 29); 
  --cor-terciaria: rgb(242, 239, 189); 
  --cor-background: rgb(23, 29,36);
  --text-principal: 'Rajdhani',sans-serif;
  --text-corpo:'open sans',sans-serif;
}

html{
  background-image: url(/assets/BACK.svg);
  background-repeat: no-repeat;
}

footer{
  padding: 10px 0;
  text-align: center;
  color: var(--cor-terciaria);
} 

/* ------------------- MENU DE  NAV----------------------*/
nav{
  display: flex;
  justify-content:space-between;
  border-radius: 15px;
  margin: 0 4.5rem;
  align-items: center;
}

nav li{
  padding: 0 0 0 3rem;
}

nav ul{
  padding: 0;
}

#menu-nav {
  font-family: var(--text-principal);
  font-weight: 600;
  font-size: 2rem;
  list-style-type: none;

  display: inline-flex;
  align-items: center;
  margin: 1rem;
} 

#menu-nav a{
  color: #F2561D;
}

.logo{
  align-items: center;
  padding:0;
  margin: 0;
}

#nav-bar-btn{
  display:none;
  font-size: 1.5rem;
  height:2rem;
  color: #F2561D;

  background: radial-gradient(93.92% 93.92% at 50.05% 0%, rgba(39, 49, 61, 0.495) 8.74%, rgba(23, 29, 36, 0.495) 74.07%, rgba(18, 22, 27, 0.495) 100%);
  border: 1px solid rgba(52, 59, 66, 0.253);
  border-radius:0.5rem;
  
}

/* -------------------- DESTAQUE ---------------------- */
.destaque{
  height: 550px;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  align-items: center;

  background: radial-gradient(93.92% 93.92% at 50.05% 0%, rgba(39, 49, 61, 0.495) 8.74%, rgba(23, 29, 36, 0.495) 74.07%, rgba(18, 22, 27, 0.495) 100%);

  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.205);
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(10px);

  border-radius: 1rem;
  margin: 0rem 5rem;
}

.destaque-text {
  font-size: 4rem;
  font-family: var(--text-principal);
  color: var(--cor-terciaria);
  padding: 1rem
}

.destaque-text p{
  padding:0;
}

.img-perfil{
  height:350px;
  padding: 1rem;
}

/*------------- CONTAINER PROJECTS ------------*/

.project-title{
  font-family: var(--text-principal);
  color:rgb(242, 239, 189);
  font-size:2.5rem;
  margin: 1.5rem 5rem;


}
#container-project {
  font-family: var(--text-corpo);
  border-radius: 10px;
  margin: 1.5rem 5rem;
  padding: 15px;

  background: radial-gradient(93.92% 93.92% at 50.05% 0%, rgba(39, 49, 61, 0.495) 8.74%, rgba(23, 29, 36, 0.495) 74.07%, rgba(18, 22, 27, 0.495) 100%);

  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.205);
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(10px);
}

.img-responsice{
  height:150px;
}

/* ----------- Responsividade ----------------- */

@media only screen and (max-width:848px){
  nav{
    padding:0;
    margin: 0;
  }

  nav li{
    padding:1rem;
  }

  #menu-nav{
    display:flex;
    font-size:1.5rem;
  }

  .logo{
    height: 40px;
    padding: 0;
    margin: 0;
  }

  /* Destaque */
  
  .destaque{
    height:200px;
    padding: 0;
    margin: 0 1rem;
  }

  .destaque-text {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .img-perfil{
    height:150px;
    padding: 0.5rem;
  }

  #container-project {
    height:100px;
    margin: 1rem;
  }

  .img-responsice{
    height:50px;
  }

  .project-ux{
    font-size: 0.5rem;
  }
}

@media (max-width:430px){
  nav{
    margin: 0.5rem;
  }

  #nav-bar-btn{
    display:block;
  }

  #menu-nav{
    display:none;
    position:absolute;
    flex-direction: column;
    justify-content:center;
    top: 3rem;

    width:90%;
    height:100%;
    z-index: 1;

    background-color:aliceblue;
    border-radius:1rem;
  }

  #menu-nav.active#menu-nav{
    display:flex;
  }
}